<div class="container">
    <h1>show Comment</h1>
    <div class="table-responsive">
    <table class="table tb" >
      <tr>
        <th>ID</th>
        <th>Comment</th>
      </tr>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.id %></td>
            <td><%= comment.text %></td>
            <% if current_user.user_type == "manager" %>
            <td>
               <%= link_to   user_projectt_bug_comments_path(current_user,@project,@bug,comment), method: :delete, data:{confirm: "are you sure?"} do%>
              <%= fa_icon "trash 2x" %>
              <%end%>
            </td>
            <%end%>
          </tr>
      <%end%>
    </table>
  </div>
</div>
